---
import getGithubProfileStats from "../lib/github";
import fetchApi from "../lib/strapi";
import type Post from "../interfaces/post";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await fetchApi<Post[]>({
  endpoint: "posts",
  wrappedByKey: "data",
  query: {
    "sort[0]":"id:desc"
  }
});

import { Greeting } from "../components/Greeting.js";

const ghStats = `n/a`;//getGithubProfileStats().then(data => {
//   return data.following
// } 
// );

---

<BaseLayout title="Home">
  <Greeting />
  github followers: { ghStats }
  <div>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.attributes.link}/`}>{post.attributes.title}</a>
        </li>
      ))
    }
  </div>
</BaseLayout>
