---
import BaseHeader from '../components/BaseHeader.astro'
import BaseFooter from '../components/BaseFooter.astro'
const {title} = Astro.props.frontmatter || Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
</head>
<body>
    <BaseHeader />
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
    <article>
      <slot />
    </article>
    <BaseFooter />
  </body>
</html>