---
import fetchApi from "../lib/strapi";
import type Post from "../interfaces/post";
import BaseLayout from "../layouts/BaseLayout.astro";

console.log(`astro`)
console.log(`env: ${import.meta.env.STRAPI_URL}`)

const posts = await fetchApi<Post[]>({
  endpoint: "posts",
  wrappedByKey: "data",
  query: {
    "sort[0]":"id:desc"
  }
});

---
<BaseLayout title="Home">
  <div>
    {
      posts.map((post) => {
        const pubYear = new Date(post.attributes.pubDate).getFullYear();
        const pubMonth = new Date(post.attributes.pubDate).getMonth();
        
        return (
        <li>
          <a href={`/${pubYear}/${pubMonth > 9 ? pubMonth+1 : "0" + (pubMonth+1).toString()}/${post.attributes.slug}/`}>{post.attributes.title}</a>
        </li>
        )
      })
    }
  </div>
</BaseLayout>