---
import fetchApi from "../lib/strapi";
import type Post from "../interfaces/post";
import BaseLayout from "../layouts/BaseLayout.astro";

console.log(`astro`)
console.log(`env: {0}`,import.meta.env.STRAPI_URL)

const posts = await fetchApi<Post[]>({
  endpoint: "posts",
  wrappedByKey: "data",
  query: {
    "sort[0]":"id:desc"
  }
});

---

<BaseLayout title="Home">
  <div>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.attributes.link}/`}>{post.attributes.title}</a>
        </li>
      ))
    }
  </div>
</BaseLayout>